<div class="cont">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="color: black; " routerLink="/add">Add Property</a><br>
        <a class="nav-item nav-link" style="color: black; "routerLink="/search">Search Property</a><br>
        <a class="nav-item nav-link" style="color: black; "routerLink="/myprop">My Properties</a><br>
        <a class="nav-item nav-link" style="color: black; " (click)="logoutAction()">Logout</a><br>
      
      </div>
    </div>
  </nav>
</div>
  <router-outlet></router-outlet>
