<div class="container">
  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" style="color: black; "routerLink="/profile">Profile</a><br> -->
      <!-- <a class="nav-item nav-link" style="color: black; " routerLink="/add">Add Property</a><br> -->
      <a class="nav-item nav-link" style="color: black; "routerLink="/adminsearch">Search Property</a><br>
      <a class="nav-item nav-link" style="color: black; "routerLink="/list"> View All </a><br>
      <a class="nav-item nav-link" style="color: black; "routerLink="/track">Track Properties</a><br>
      <!-- <a class="nav-item nav-link" style="color: black; " (click)="logoutAction()">Logout</a><br> -->
    
    </div>
  </div>
</nav>
</div>

<router-outlet></router-outlet>