<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home"><b>Property</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    
      <a class="nav-item nav-link" style="color: black; " routerLink="/login1"><b>ADMIN LOGIN</b></a><br>
      <a class="nav-item nav-link" style="color: black; "routerLink="/search"><b>SEARCH PROPERTY</b></a><br>
      <a class="nav-item nav-link" style="color: black; "routerLink="/login"><b>POST PROPERTY</b></a><br>
      
    </div>
  </div>
</nav>

